<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.H2TFC.H2T_DMS_MANAGER"
          android:versionCode="1"
          android:versionName="1.0"
        >
    <!-- Use feature -->
    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <!-- Uses Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- The following two permissions are not required to use
         Google Maps Android API v2, but are recommended for GPS. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Permission -->
    <permission android:protectionLevel="signature"
                android:name="com.H2TFC.H2T_DMS_MANAGER.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.H2TFC.H2T_DMS_MANAGER.permission.C2D_MESSAGE" />

    <permission      android:name="com.H2TFC.permission.MAPS_RECEIVE"
                     android:protectionLevel="signature"/>
    <uses-permission android:name="com.H2TFC.permission.MAPS_RECEIVE"/>

    <!-- Android SDK min,target,max -->
    <uses-sdk android:minSdkVersion="11"
              android:targetSdkVersion="21"/>


    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@android:style/Theme.Holo.Light"
            android:name=".MyApplication"
            android:allowBackup="true"
            >
        <uses-library
                android:name="com.google.android.maps" />
        <!-- push notification -->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
                -->
                <category android:name="com.H2TFC.H2T_DMS_MANAGER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <!-- End push notification -->

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyBXM5mTEyHpbp3Q3nBXvLUptLXBt0IJTAU"/>

        <activity
                android:name=".controllers.LoginActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controllers.DashBoardActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controllers.employee_management.EmployeeManagementActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controllers.employee_management.EmployeeNewActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controllers.street_divide.StreetDivideActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controllers.street_divide.EmployeeChooseActivity"
                  android:screenOrientation="portrait">
        </activity>
        <!--<activity android:name=".controllers.street_divide.ColorPickerDialog"/>-->
        <activity android:name=".controllers.product_management.ProductNewActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controllers.product_management.ProductManagementActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controllers.store_management.StoreManagementActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controllers.promotion_management.PromotionManagementActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controllers.user_information_management.UserInformationManagementActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controllers.employee_management.EmployeeViewLockedActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controllers.store_management.TrungBayActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controllers.store_management.StoreDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controllers.attendance_management.AttendanceManagementActivity"/>
        <activity android:name=".controllers.attendance_management.AttendanceDetailActivity"/>

        <!-- replace @drawable/push_icon with your push icon identifier -->
        <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/ic_notification"/>
    </application>
</manifest>
